<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Осипова Лилия | Портфолио</title>
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header></header>
        <main></main>
        <footer></footer>
    </body>
</html>